.dealer-count {
    display: flex;
    justify-content: center;
}

.player-list {
    display: flex;
    justify-content: center;
}

.endType-list {
    display: flex;
    justify-content: center;
}

.record-form {
    border: 0.5px solid;
}